
/* Suppression des espacements par defaut,
 la police et le style de l'affichage
 */
*{
    margin :0;
    padding: 0;
    color:#D9D9DB !important;
    font-family:'Arimo Hebrew Subset Italic', 'Itaic';
}
/* Style du corps de pages */
body{
    background: #404930;
    /* min-width: 1440px;  */
    /* width: auto; */
    font-family:'Arimo Hebrew Subset Italic', 'Itaic';
    list-style: none;
}

/*  Style pour le navbar */
.navbar{
/*  background: #161c02;*/    
    height: 6.625;
}

/* Style du boutton dans landing section */
form, button{
    color: black;
    background-color: #F3EC58;
    border-radius: 14px;
    text-align: center;
}

/* Style de la section landing: titre, paragraphe, button, image */
.landing_div{
    width: 82.063;
    height: auto;
    background: #69782fd7;
    border-radius: 1.25rem;
    border-color: #F3EC58 !important;
}
.landing_h1{
    margin-top: calc(3% + 1.25rem);
    text-align:center;
    font-size:xx-large;
    left: 28.12%;
    right: 24.84%;
    top: 10.36%;
    bottom: 86.39%;
    text-shadow: 1px 1px #F3EC58 !important;

    font-family: 'Arimo Hebrew Subset Italic';
    font-style: italic;
    font-weight: 43.75rem;
    font-size: 3.079rem;
    line-height: 1.375rem;
    letter-spacing: 0.075rem;
    text-transform: uppercase;
}
.landing_p{
    text-align: center;
    font-family: 'Arimo Hebrew Subset Italic';
    font-style: italic;
    font-size: 1.329rem;
    text-transform: uppercase;
    
}
.position_btn{
    text-align: center;
    background-color: #F3EC58;
    border-radius: 14px;
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;

 
}
.cartes_landing{
    width: auto; 
    height: 23rem;
   flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-left: 120px;
}

/* Titre WhyOroBank + paragraphe*/
.titre_why_oro{
    text-transform: uppercase;
    font-size: 2.767rem;
}
.p_why_oro{
    font-size: 1.313rem;
} 

/* Image carte vituelle  */
.advantage_div{
    opacity: 1.5;
    display: flex;
    mix-blend-mode:luminosity;
}

/* Titre OroBankBenefits + classe cards + icone */
.titre_benefits{
    margin-top: 10%;
    margin-bottom: 5%;
    text-transform: uppercase;
}
.benefits{
    display: flex;
}
.cards_benefits{
    height: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-fluid_benefits {
    width: 70px;
    height: 70px;
    }

    